@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*

0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Is where out normal styles apply
1800px + :      Big desktop

*/

@mixin respond-phone {
  @media (max-width: 600px) { @content };
}

/*
  Breakpoint arguments choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
*/

@mixin respond($breadkpoint) {
  @if $breadkpoint == phone { // 600
    @media only screen and (max-width: 37.5em) { @content };
  }
  @if $breadkpoint == tab-port { // 900
    @media only screen and  (max-width: 56.25em) { @content };
  }
  @if $breadkpoint == tab-land { // 1200
    @media only screen and  (max-width: 75em) { @content };
  }
  @if $breadkpoint == big-desktop { // 1800+
    @media only screen and  (min-width: 112.5em) { @content };
  }
}